.header{
    background-color: #222;
    height: 36px;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
    text-align: right;
}

  @-webkit-keyframes film-icon-spin {
    to { -webkit-transform: rotateY(360deg); }
  }
  @keyframes film-icon-spin {
    to { transform: rotateY(360deg); }          
  }
  @-moz-keyframes film-icon-spin{
    to { -moz-transform: rotateY(360deg); }
  }
  
  /*
  Animate the logo svg file
  */
  .film-icon {
    float: left;
    height: 35px;
    background: #ff7f7f;
  
    animation: film-icon-spin infinite 8s linear;
    -webkit-animation: film-icon-spin 8s infinite linear;
    -moz-animation: film-icon-spin 8s infinite linear;  
  }

